		 a{
			transition: 0.5s all;
			text-decoration: none;
		}
		.pub_top{
			min-width: 1320px ;
			
			top:0;
			left: 0;
			right: 0;
			border-bottom:1px solid #F5F5F5;
			padding-top: 15px;
   			padding-bottom: 25px;
		}
		.top-img{
		padding:0;
		}
		
		.index{
 		 float: left;
  		margin: 17.6px 0 0 15px;
  		margin-top: 7px;
		}
		.index a{
		padding: 8px 20px;
	    background: #808080;
	    color: #FFF;
	    font-size: 16px;
	    text-decoration: none;
	    border-radius: 3px;
		}
		.index a:hover{
			text-decoration:none;
			color:#272C2E;
			background:#F7F7F7;
		}
		.index a:focus {
		    outline: none;
		}
		.upload {
  		float: left;
  		margin: 17.6px 0 0 0;
  		margin-top: 7px;
}
		.upload a{
			    padding: 8px 20px;
			    background: #d9edf7;
			    color: #272C2E;
			    font-size: 16px;
			    border-radius: 3px;
			    text-decoration: none;
			}
		.upload a:hover {
			  opacity: 0.8;
			}
			
			
			
			
			
			
			
			
	.r_body{
	overflow: auto;
	right: 0;
	bottom: 0;
	padding: 0 25px 0 25px;

	}

	 .panel{
		min-height:600px;
	}

	.container{
		padding: 0 ;
		margin: 0 ;
		right:0;
		min-width: 1349px !important;
	}
	.left_nav{
			
			 left:0;
			height: 600px;
		    background: #272c2e;
		    border: none;
		    overflow:auto;
		   
		    padding:0;
		   /* padding: 0 20px 20px 20px;*/

	}
	.nav-menu li a:hover{
		    background-color: #232323 !important;
   			 color: #21DEEF;
	}
		.nav-menu li a:focus{
		   outline: none;
		    background: none;
	}
			  
	.nav-menu li.active a{
		 background-color: #232323 !important;
		 color: #21DEEF;
	}
	.nav-menu li a{
			color: #BBBBBB;
		    font-size: 15px ;
		    font-weight: 600;
		    text-decoration:none;
		    display: block;
		    text-align: center;
	}
	.nav-menu ul{
		padding: 0;
	}
	.nav-menu ul li a{
		padding: 7px 0px;
		font-size: 14px !important;
		font-weight: 500;
	}
	}